[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
pandas = "*"
pymongo = "*"
dnspython = "*"
python-dotenv = "*"
flake8 = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.8"
